# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# Generated outputs
outputs/*

# Local model cache
models/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# MuSe-CarASTE raw dataset
data/raw/muse_caraste/